body{
    background-color: rgb(238, 198, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(87, 13, 144);
}
button {
    color:rgb(87, 13, 144);
    padding-left: 10px;
    padding-right: 10px;
    border: crimson solid 2px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(169, 221, 251); 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 10px;
    cursor:pointer;
}
div.article{
    padding-right: 30px;
    padding-block: 20px;
    padding-left: 50px;
    margin-bottom: 20px;
    border:2px solid crimson;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
h3{
    letter-spacing:  5px;
}